

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.2em;
}
.flex{
    display: flex;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-weight: bold;
}
p{
    font-size: 1em;
}
.btn{
    padding: 8px;
    background-color: orangered;
    color: white;
    width: 110px;
    display: inline-block;
    text-align: center;
}


/*header*/
.header{
    margin: 30px 50px 0px;
    justify-content: space-between;
}
.header-left img{
    height: 50px;
}
.header-list {
    font-size: 1.4em;
    gap: 50px;
}
.header-bottom{
    gap: 30px;
    margin: 10px 0px 10px 50px;
}



/*navbar*/
nav{
    background-color: #FFEF9C;
}
.navbar{
    margin:0px 80px;
    height: 12vh;
    align-items: center;
    
}
.first{
    width: 15vw;
    margin-inline: 60px;
}
.second input{
    width: 25vw;
    height: 7vh;
    border-radius: 5px;
    font-size: 1.2em;
}
.third{
    width: 30vw;
    margin-inline: 60px;
    font-size: 1.2em;
}



/*main*/
.main{
    gap: 20px;
    background: #d6e2e2;
    height: 70vh;
    align-items: center;
    
}
.main-right p {
   font-size: 1.3em;
   margin-top: 20px;
}
.main-right  {
    justify-content: center;
    flex-direction: column;
    margin-right: 90px;
 }
 .main-bottom{
    margin-top: 30px; 
    gap: 30px;

 }
 .main-btn{
    width: 180px;
    height: 45px;
    background: rgb(86, 86, 231); 
 }




 /*table*/
 .table{
    justify-content: center;
    margin: 50px 0px;   
 }
 .table-1{
    width: 80vw;
    justify-content: center;
 }
 .table-1, tr,td{
    border: 1px solid black;
    border-collapse: collapse;
 }
 .table-1 td{
    width: 20vw;
    height: 10vh;
    text-align: center;  
 }
 td p{
    font-size: 1.2em;
    font-style: normal;
 }

 td:hover{
    background: rgb(156, 205, 190);
    font-size: 1.3em;
 }
 
 /* content-1*/
 .content{
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin-top: 20vh;
 }
 .content p{
    font-size: 1.5em;
 }
 .content a{
    font-size: 1.5em;
    color: rgb(82, 82, 219);
    font-weight: bold;
    text-decoration: underline dotted 1px;
 }
 .content-body{
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
 }


 /*content-footer*/
 .content-footer{
    margin-top: 150px;
    background: #3B516B;
    height: 60vh;
    justify-content: center;
 }
 .content-footer2{
    font-size: 1.5em;
    width: 60vw;
    color: white;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    align-items: center;
 }
 .content-footer2 a{
    color: #ffffff;
    text-decoration: underline dotted  white 1px;
 }


 /*hero section*/
 .hero{
    margin:160px 50px ;
    gap: 140px;
 }
 .hero-right{
    align-items: center;
    flex-direction: column;
    gap: 50px;
 }
 .hero-right a{
    font-size: 1.5em;
    color: rgb(82, 82, 219);
    text-decoration: underline dotted rgb(82, 82, 219);  
 }
 .hero-right ul li{
    list-style: no;
    gap: 50px;
 }
 .hero-content{
    font-size: 1.2em;
    flex-direction: column;
    gap: 50px;
 }


.footer{
   background: #212121;
   color: #ffffff;
   height: 40vh;
   flex-direction: column;
   gap: 30px;
   text-align: center;
   padding: 30px;
}
.footer-btn{
   width: 180px;
   height: 40px;
   position: relative;
   left: 45%;
}

 